
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Modal vào giữa */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    /* Để modal này được lên trên */
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    /* Chuyển động modal chậm dần */
    animation: modalFadeIn ease 0.4s;
    position: relative;
}

.modal .modal-x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px;
    color: #fff;
    cursor: pointer;
}

.modal .modal-x:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.modal .modal-header {
    height: 130px;
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-header i {
    margin-right: 15px;
}

.modal .modal-body {
    padding: 15px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    font-weight: 100;
}

.modal .modal-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
}

.modal .modal-button-pay {
    width: 100%;
    background-color: #009688;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
}

.modal .modal-footer {
    padding: 16px 0;
}

.modal .modal-close {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
}

.modal .label-footer {
    margin: 0 15px;
    float: right;
    margin-bottom: 20px;
}

/* Chuyển động chạm dần Animation Modal */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}